/node_modules/
.idea
.venv
.mypy_cache
.pytest_cache
.ruff_cache
**/__pycache__/**
/frontend/dist/
/frontend/tests/**/*.test.js
/frontend/tests/**/*.test.d.ts
/frontend/tests/**/*.test.js.map
/vite.config.d.ts
/vite.config.js
/vite.config.js.map
